<template>
  <section>
    <div class="container">
      <div class="row wow fadeInUp">
        <div class="col-sm-12">
          <div class="iq-masonry-block mb-0">
            <!-- <div class="isotope-filters isotope-tooltip"><button data-filter="" class="active">All<span class="post_no">8</span></button><button data-filter=".design">Design<span class="post_no">3</span></button><button data-filter=".html">HTML<span class="post_no">2</span></button><button data-filter=".photography">Photography<span class="post_no">3</span></button><button data-filter=".video">Video<span class="post_no">1</span></button></div> -->
            <div :class="gridClass">
              <!-- <CardStyle7 v-for="(item, index) in ItemList" :card-class="item.styleClass" :card-title="item.title" :card-subtitle="item.subTitle" :card-media ="item.image" :key="index"/> -->
              <CardStyle7 v-for="(item, index) in berita" :card-date="item.created" :card-class="item.styleClass" :card-title="item.judul" :card-subtitle="item.subjudul" :card-media ="item.images" :key="index"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name:'Isotope',
  props:['gridClass'],
  data(){
    return{
      berita: [],
      // images: [],
      image: require('../../assets/images/about-us/08.png'),
      ItemList:[
        {
          styleClass:'iq-masonry-item video',
          title:'Business Growth',
          subTitle:'Video',
          image: require('../../assets/images/about-us/08.png')
        },
        {
          styleClass:'iq-masonry-item html',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/02.png')
        },
        {
          styleClass:'iq-masonry-item html',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/03.png')
        },
        {
          styleClass:'iq-masonry-item design',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/08.png')
        },
        {
          styleClass:'iq-masonry-item photography',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/01.png')
        },
        {
          styleClass:'iq-masonry-item photography',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/08.png')
        },
        {
          styleClass:'iq-masonry-item design photography',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/03.png')
        },
        {
          styleClass:'iq-masonry-item design',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/02.png')
        },
      ]
    }
  },
  mounted() {
    this.getBerita()
  },
  methods: {
    async getBerita() {
      await this.$axios.$get('http://103.123.230.115:1092/frontend/berita')
      .then(res => {
        for (let index = 0; index < res.data.length; index++) {
          const element = res.data[index];
          if (element.web === "WEB_RB") {

            this.$axios.$post('http://103.123.230.115:1092/frontend/gambarcom/'+element.gambar)
            .then(resp => {
              // this.images.push({id: element.id, image: resp})
              this.berita.push({
                styleClass:'iq-masonry-item',
                created: element.created,
                created_by: element.created_by,
                gambar: element.gambar,
                id: element.id,
                isi: element.isi,
                judul: element.judul,
                kategori: element.kategori,
                publikasi: element.publikasi,
                subjudul: element.subjudul,
                updatedOn: element.updatedOn,
                images: resp
              })
            })

            // this.berita.push({
            //   created: element.created,
            //   created_by: element.created_by,
            //   gambar: element.gambar,
            //   id: element.id,
            //   isi: element.isi,
            //   judul: element.judul,
            //   kategori: element.kategori,
            //   publikasi: element.publikasi,
            //   subjudul: element.subjudul,
            //   updatedOn: element.updatedOn
            //   // images: this.postGambar(element.gambar)
            // })
          }
        }
        // console.log(this.berita);  
      })
      .catch(err => {
        console.log(err);
      })
    },
    async postGambar(img) {
      await this.$axios.$post('http://103.123.230.115:1092/frontend/gambarcom/'+img)
      .then(resp => {
        return resp
        console.log(resp);
      })
      .catch(err => {
        console.log(err);
      })
    }
  }
}
</script>