<template>
    <div>
        <!-- <h3>Hello World</h3> -->
        <BreadCrumb crumb-title="Roadmap RB LAN" :crumb-media="image" :crumb-links="links" />
        <Process />
        <Footer />
    </div>
</template>
<script>
// import Team from '../../components/TimRb/Team'
import Process from '../../components/RoadMap/Process'
import Footer from '../../components/Beranda/Footer'
import { themes } from '../../assets/app/app'
export default {
    layout: 'Beranda',
    components: {
        // Team,
        Process,
        Footer
    },
    data(){
        return{
            image: require('../../assets/images/about-us/04.png'),
            links: [{
                title : 'Home' ,
                href : 'landing-page-1'
            }]
        }
    },
    mounted () {
        // const layout = themes.getCookie('layout')
        // this.$nuxt.setLayout(layout)
        setTimeout(function () {
        themes.index()
        }, 1000)
    }
}
</script>
