<template>
    <div>
        <!-- <h3>Hello World</h3> -->
        <BreadCrumb crumb-title="8 Area Perubahan" :crumb-media="image" :crumb-links="links" />
        <section>
            <div class="container">
                <div class="row justify-content-center wow fadeInUp">
                    <div class="col-sm-10">
                        <p class="text-justify text-black leading-snug mt-0 mb-3">Dalam Perpres 81/2010 telah ditetapkan delapan area perubahan dalam pelaksanaan reformasi birokrasi. Pelaksanaan delapan area perubahan ini kemudian diturunkan dalam bentuk Roadmap Reformasi Birokrasi dan diarahkan untuk pencapaian sasaran lima tahunan yang telah ditetapkan. Adapun area perubahan reformasi birokrasi tersebut adalah sebagai berikut:</p>
                        <b-list-group-item v-for="(item, index) in area_perubahan" :key="index">
                            <div class="flex justify-between items-center">
                                <div class="m-2">
                                    <img :src="item.image" alt="" width="80">
                                </div>
                                <div class="flex-grow text-left px-2 py-2 m-2 w-56">
                                    <p class="text-base text-black m-0">{{ item.title }}</p>
                                    <p class="text-sm font-hairline leading-snug m-0">{{ item.description }}</p>
                                </div>
                            </div>
                        </b-list-group-item>
                        
                    </div>
                </div>
            </div>
        </section>
        <Footer />
    </div>
</template>
<script>
import Team from '../../components/TimRb/Team'
import Footer from '../../components/Beranda/Footer'
import { themes } from '../../assets/app/app'
export default {
    layout: 'Beranda',
    components: {
        Team,
        Footer
    },
    data(){
        return{
            // image: require('../../assets/images/about-us/04.png'),
            image: require('../../assets/images/img_perubahan.png'),
            links: [{
                title : 'Home' ,
                href : 'landing-page-1'
            }],
            area_perubahan: [
                {
                    title: 'Area Mental Aparatur',
                    description: 'Pada area Mental Aparatur atau Manajemen Perubahan, diarahkan untuk memperkuat pelaksanaan RB di lingkungan LAN khususnya pada level kompartemen serta internalisasi dan implementasi nilai-nilai integritas, profesional, inovatif dan peduli bagi seluruh pegawai sehingga dapat membangun pola pikir dan budaya kerja yang semakin produktif di lingkungan LAN.',
                    image: require('@/assets/images/logo_area_perubahan/1.png'),
                    bgcolor: 'bg-gray',
                },
                {
                    title: 'Area Tata Laksana',
                    description: 'Pada area Tata Laksana diarahkan untuk mewujudkan birokrasi yang lincah (agile) dan memperkuat penggunaan teknologi informasi.',
                    image: require('@/assets/images/logo_area_perubahan/2.png'),
                    bgcolor: 'border',
                },
                {
                    title: 'Area Penguatan Organisasi',
                    description: 'Pada area Penguatan Organisasi, diarahkan pada penyiapan dan penguatan transformasi organisasi LAN sesuai dengan mandat kebijakan dan tantangan lingkungan strategis sehingga mampu mengakselerasi ketercapaian visi dan misi LAN.',
                    image: require('@/assets/images/logo_area_perubahan/3.png'),
                    bgcolor: 'bg-gray',
                },
                {
                    title: 'Area Penataan Peraturan Perundang-undangan',
                    description: 'Pada area Penataan Peraturan Perundang-undangan, diarahkan untuk mewujudkan tata kelola penyusunan peraturan perundang-undangan yang lebih baik dan cerdas (better and smarter regulatory management) serta penguatan pegawai yang sadar hukum di lingkungan LAN',
                    image: require('@/assets/images/logo_area_perubahan/4.png'),
                    bgcolor: 'border',
                },
                {
                    title: 'Area Penataan Sumber Daya Manusia',
                    description: 'Pada area Penataan Sumber Daya Manusia, diarahkan pada penguatan manajemen sumber daya manusia terintegrasi dan pengelolaan SDM berbasis merit di lingkungan LAN',
                    image: require('@/assets/images/logo_area_perubahan/5.png'),
                    bgcolor: 'bg-gray',
                },
                {
                    title: 'Area Penguatan Pengawasan',
                    description: 'Pada area Penguatan Pengawasan, diarahkan pada pemantapan sistem pengendalian internal (SPI) dan penguatan birokrasi yang transparan, berintegritas dan bebas dari korupsi melalui penerapan zona integritas di lingkungan LAN.',
                    image: require('@/assets/images/logo_area_perubahan/6.png'),
                    bgcolor: 'border',
                },
                {
                    title: 'Area Penguatan Akuntabilitas',
                    description: 'Pada area Penguatan Akuntabilitas, diarahkan pada penyempurnaan sistem manajemen kinerja serta peningkatan akuntabilitas vertikal dan horizontal di lingkungan LAN.',
                    image: require('@/assets/images/logo_area_perubahan/7.png'),
                    bgcolor: 'bg-gray',
                },
                {
                    title: 'Area Peningkatan Kualitas Pelayanan Publik',
                    description: 'Pada area Peningkatan Kualitas Pelayanan Publik, diarahkan pada penyelenggaraan layanan yang prima untuk memberikan nilai tambah bagi stakeholders LAN.',
                    image: require('@/assets/images/logo_area_perubahan/8.png'),
                    bgcolor: 'border',
                }
            ]
        }
    },
    mounted () {
        // const layout = themes.getCookie('layout')
        // this.$nuxt.setLayout(layout)
        setTimeout(function () {
        themes.index()
        }, 1000)
    }
}
</script>
