<template>
    <div>
        <!-- <h3>Hello World</h3> -->
        <!-- <BreadCrumb crumb-title="Reformasi Birokrasi" :crumb-media="image" :crumb-links="links" /> -->
        <!-- <div class="text-left iq-breadcrumb-one iq-bg-over"> -->
        <div class="text-left iq-breadcrumb-one" :style="{backgroundImage:`url(${image})`,backgroundSize:'cover',backgroundRepeat:'no-repeat',backgroundPosition:'center'}">
            <div class="container black">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-8 text-left align-self-center">
                        <nav aria-label="breadcrumb" class="text-left mt-5 mb-3">
                            <h2 class="title">Reformasi Birokasi</h2>
                            <ol class="breadcrumb main-bg">
                                <li class="breadcrumb-item">Beranda</li>
                                <li class="breadcrumb-item active">Lembaga Administrasi Negara RI</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 text-right wow fadeInRight">
                        <img alt="banner" class="img-fluid float-right" :src="img">
                    </div>
                </div>
            </div>
        </div>
        <WhyChooseUs />
        <Nilai2 />
        <Penghargaan />
        <Berita />
        <Team/>
        <Kompartemen />
        <Footer />
    </div>
</template>
<script>
// import img from '@/assets/images/logo_rb_lan.png'
import WhyChooseUs from '../../components/Beranda/WhyChooseUs'
import Team from '../../components/Beranda/Team'
import Kompartemen from '../../components/Beranda/Kompartemen'
import Nilai2 from '../../components/Beranda/Nilai2'
import Penghargaan from '../../components/Beranda/Penghargaan'
import Berita from '../../components/Beranda/AboutUs'
import Footer from '../../components/Beranda/Footer'
import { themes } from '../../assets/app/app'
export default {
    layout: 'Beranda',
    components: {
        WhyChooseUs,
        Penghargaan,
        Berita,
        Team,
        Kompartemen,
        Nilai2,
        Footer
    },
    data(){
        return{
            img: require('../../assets/images/logo_rb_lan.png'),
            image: require('../../assets/images/rb_lan_4.jpg'),
            links: [{
                title : 'Home' ,
                href : 'landing-page-1'
            }]
        }
    },
    mounted () {
        // const layout = themes.getCookie('layout')
        // this.$nuxt.setLayout(layout)
        setTimeout(function () {
        themes.index()
        }, 1000)
    }
}
</script>
<style scoped>
section {
    padding: 40px 0 !important;
}
</style>
