<template>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-12 sidebar-service-left">
          <div class="nav flex-column nav-pills mb-5 widget widget_nav_menu">
            <a href="#" class="nav-link" @click="clickVisi">
              Visi RB LAN
            </a>
            <a href="#" class="nav-link" @click="clickMisi">
              Misi RB LAN
            </a>
            <a href="#" class="nav-link" @click="clickNilai">
              Nilai-Nilai RB LAN
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div class="row" v-if="alert_visi">
              <div class="col-sm-12">
                <h3 class="text-left mb-2">Visi</h3>
                <p class="text-justify mb-0">Dengan mengacu kepada Visi Lembaga Administrasi Negara “Menjadi Rujukan Bangsa Dalam Pembaharuan Administrasi Negara” dan Visi Kedeputian Bidang Penyelenggaraan Pengembangan Kompeteni, yakni “Menjadi Rujukan Kualitas dalam Pengembangan Kompetensi ASN”, maka Visi Pusbangkom TSK ASN adalah “Sebagai Pusat Unggulan dalam Penyelenggaraan Pelatihan Teknis dan Sosial Kultural Pegawai ASN” Visi tersebut dimaksudkan sebagai suatu perwujudan kondisi yang diinginkan pada masa mendatang bahwa Pusbangkom TSK ASN adalah “kiblat” dari seluruh instansi pemerintah pusat dan daerah dalam menyediakan dan mempersiapkan sumber daya manusia aparatur unggul yang tidak saja profesional dibidangnya, tetapi juga dilandasi oleh kemampuan mentalitas yang baik, memiliki integritas, etos kerja yang tinggi, serta kemampuan berkolaborasi/kerjasama dalam mewujudkan penyelenggaraan pemerintahan yang efektif dan efisien. Hal ini sesuai dengan salah satu penjelasan fungsi Kedeputian Bidang Penyelenggaraan Pengembangan Kompetensi yakni pengelolaan dan penyelenggaraan pengembangan kompetensi teknis dan sosial kultural Pegawai ASN, baik secara mandiri maupun bersama – sama lembaga pendidikan dan pelatihan lainnya.</p>
              </div>
            </div>
            <div class="row" v-if="alert_misi">
              <div class="col-sm-12">
                <h3 class="text-left mb-2">Misi</h3>
                <p class="text-justify mb-0">Adapun Misi yang hendak diwujudkan sebagai penjabaran Visi Pusbangkom TSK ASN dimaksud adalah sebagai berikut:</p>
                <ol style="padding-left:15px">
                  <li class="text-justify">Mewujudkan kualitas penyelenggaraan pelatihan teknis dan sosial kultural dengan mengedepankan perubahan pola pikir dan pola tindak bagi alumni, untuk terwujudnya ASN yang mampu memberikan pelayanan terbaik bagi organisasi dan masyarakat pada umumnya.</li>
                  <li class="text-justify">Mewujudkan pelayanan bagi kebutuhan organisasi dalam menyiapkan penyelenggaraan pelatihan bagi ASN sesuai dengan kebutuhan perkembangan organisasi saat ini dan akan datang.</li>
                  <li class="text-justify">Mewujudkan kapasitas kepemimpinan aparatur dalam penguasaan teknis dan sosial kultural.</li>
                  <li class="text-justify">Mewujudkan peningkatan kualitas lembaga penyelenggara pelatihan yang semakin profesional dalam mengelola dan melayani peserta pelatihan.</li>
                  <li class="text-justify">Mewujudkan peningkatkan kapasitas ASN yang akan diangkat atau ditempatkan ke dalam jabatan-jabatan fungsional tertentu.</li>
                  <li class="text-justify">Mewujudkan peningkatkan kapasitas dan kompetensi bagi Pemangku Jabatan Fungsional Tertentu agar semakin berkualitas.</li>
                </ol>
              </div>
            </div>
            <div class="row" v-if="alert_nilai">
              <div class="col-sm-12">
                <h3 class="text-left mb-2">Nilai-nilai</h3>
<div class="card-columns">
  <div class="card text-center">
    <div class="card-body">
      <img src="@/assets/images/nilai_inovative.png" alt="" class="center">
      <h5 class="card-title hairline mb-0 mt-3">Innovative</h5>
      <!-- <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <img src="@/assets/images/nilai_sinergy.png" alt="" class="center">
      <h5 class="card-title hairline mb-0 mt-3">Synergy</h5>
      <!-- <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <img src="@/assets/images/nilai_professional.png" alt="" class="center">
      <h5 class="card-title hairline mb-0 mt-3">Professional</h5>
      <!-- <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <img src="@/assets/images/nilai_inteligent.png" alt="" class="center">
      <h5 class="card-title hairline mb-0 mt-3">Intelligent</h5>
      <!-- <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <img src="@/assets/images/nilai_responsive.png" alt="" class="center">
      <h5 class="card-title hairline mb-0 mt-3">Responsive</h5>
      <!-- <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <img src="@/assets/images/nilai_energic.png" alt="" class="center">
      <h5 class="card-title hairline mb-0 mt-3">Energic</h5>
      <!-- <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script> 
  export default {
    name: 'Service',
    data() {
      return {
        list:[
          {
            title: 'Jack White',
            subtitle: 'CEO',
            description: 'Richard McClintock, a Latin professor at Hampden-Sydney consectetur adip isicing elit, sed dolore magna aliqua hampden. Latin professor at Hampden-Sydney consectetur.',
            src: require('../../assets/images/testimonials/1.jpg')
          },
          {
            title: 'Walhan Bobe',
            subtitle: 'Business Adviser',
            description: '“Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium incididunt ut labore et dolore Sed ut perspiciatis error. Perspiciatis unde omnis iste.”',
            src: require('../../assets/images/testimonials/2.jpg')
          },
          {
            title: 'Mark McManus',
            subtitle: 'COO',
            description: '“Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.”',
            src: require('../../assets/images/testimonials/3.jpg')
          }
        ],
        images: [
          {
            src: require('../../assets/images/about-us/04.png')
          },
          {
            src: require('../../assets/images/about-us/05.png')
          },
          {
            src: require('../../assets/images/about-us/06.png')
          }
        ],
        menu_item: [
          {
            title: 'Visi RB LAN',
            class: 'nav-link',
            href: 'data-analytics'
          },
          {
            title: 'Misi RB LAN',
            class: 'nav-link',
            href: 'managed-analytics'
          },
          {
            title: 'Nilai-Nilai RB LAN',
            class: 'nav-link',
            href: 'big-data-services'
          },
          // {
          //   title: 'Data Science Consulting',
          //   class: 'nav-link current-menu-item',
          //   href: 'data-science-consulting'
          // },
          // {
          //   title: 'Business Intelligence',
          //   class: 'nav-link',
          //   href: 'business-intelligence'
          // },
          // {
          //   title: 'Data Visualization',
          //   class: 'nav-link',
          //   href: 'data-visualization'
          // },
          // {
          //   title: 'Data Management',
          //   class: 'nav-link',
          //   href: 'data-management'
          // },
          // {
          //   title: 'Artificial Intelligence',
          //   class: 'nav-link',
          //   href: 'artificial-intelligence'
          // }
        ],
        alert_visi: true,
        alert_misi: false,
        alert_nilai: false
      }
    },
    methods: {
      clickVisi: function() {
        this.alert_visi = true
        this.alert_misi = false
        this.alert_nilai = false
      },
      clickMisi: function() {
        this.alert_visi = false
        this.alert_misi = true
        this.alert_nilai = false
      },
      clickNilai: function() {
        this.alert_visi = false
        this.alert_misi = false
        this.alert_nilai = true
      }
    }
  }
</script>
<style scoped>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.hairline {
  font-weight: 100 !important;
}
</style>