<template>
  <section>
    <div class="container">
      <div class="row wow fadeInUp">
        <div class="col-sm-12">
          <div class="iq-masonry-block">
            <!-- <div class="isotope-filters isotope-tooltip"><button data-filter="" class="active">All<span class="post_no">8</span></button><button data-filter=".design">Design<span class="post_no">3</span></button><button data-filter=".html">HTML<span class="post_no">2</span></button><button data-filter=".photography">Photography<span class="post_no">3</span></button><button data-filter=".video">Video<span class="post_no">1</span></button></div> -->
            <div :class="gridClass">
              <!-- <CardStyle10 v-for="(item, index) in ItemList" :card-class="item.styleClass" :card-title="item.title" :card-subtitle="item.subTitle" :card-media ="item.image" :key="index"/> -->
              <CardStyle10 v-for="(item, index) in penghargaan" :card-date="item.created" :card-class="item.styleClass" :card-title="item.judul" :card-media ="item.images" :key="index"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name:'Isotope',
  props:['gridClass'],
  data(){
    return{
      penghargaan: [],
      ItemList:[
        {
          styleClass:'iq-masonry-item video',
          title:'Business Growth',
          subTitle:'Video',
          image: require('../../assets/images/about-us/08.png')
        },
        {
          styleClass:'iq-masonry-item html',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/02.png')
        },
        {
          styleClass:'iq-masonry-item html',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/03.png')
        },
        {
          styleClass:'iq-masonry-item design',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/08.png')
        },
        {
          styleClass:'iq-masonry-item photography',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/01.png')
        },
        {
          styleClass:'iq-masonry-item photography',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/08.png')
        },
        {
          styleClass:'iq-masonry-item design photography',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/03.png')
        },
        {
          styleClass:'iq-masonry-item design',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/02.png')
        },
      ]
    }
  },
  mounted(){
    this.getPenghargaan()
  },
  methods: {
    async getPenghargaan() {
      await this.$axios.$get('http://103.123.230.115:1092/frontend/download')
      .then(res => {
        for (let i = 0; i < res.data.length; i++) {
          const element = res.data[i];
          if (element.id_kategori == 26) {
            this.$axios.$post('http://103.123.230.115:1092/frontend/gambarori/'+element.file)
            .then(resp => {
              // console.log(resp);
              this.penghargaan.push({
                styleClass:'iq-masonry-item',
                created: element.created,
                created_by: element.created_by,
                downloaded: element.downloaded,
                file: element.file,
                id: element.id,
                id_kategori: element.id_kategori,
                jenis: element.jenis,
                judul: element.judul,
                updatedOn: element.updatedOn,
                web: element.web,
                images: resp
              })
            })
            // this.penhargaan.push(element)
          }
        }
        console.log(this.penghargaan); 
      })
      .catch(err => {
        console.log(err);
      })
    }
  }
}
</script>