<template>
    <div>
        <!-- <h3>Hello World</h3> -->
        <BreadCrumb crumb-title="Peraturan Nasional" :crumb-media="image" :crumb-links="links" />
        <section>
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-sm-12">
                        <!-- <table class="table table-bordered">
                            <tbody>
                                <tr v-for="(item, index) in peraturan_nasional" :key="index">
                                    <td width="80">
                                        <img src="@/assets/images/img_1.png" alt="" width="50">
                                    </td>
                                    <td>
                                        <p class="text-left m-0">{{ item.judul }}</p>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table> -->
                        <b-list-group>
                            <b-list-group-item v-for="(item, index) in peraturan_nasional" :key="index">
                                <div class="flex justify-between items-center">
                                    <div class="m-2">
                                        <img src="@/assets/images/img_1.png" alt="" width="50">
                                    </div>
                                    <div class="flex-grow text-left px-2 py-2 m-2 w-56">
                                        <p class="leading-snug m-0">{{ item.judul }}</p>
                                        <!-- <b-button class="mt-2" size="sm" variant="outline-primary">Download</b-button> -->
                                    </div>
                                    <div class="py-2 m-2">
                                        <a :href="'http://103.123.230.115:1092/frontend/downloaddokumen/'+item.file">Download</a>
                                    </div>
                                </div>
                            </b-list-group-item>
                        </b-list-group>
                    </div>
                </div>
            </div>
        </section>
        <Footer />
    </div>
</template>
<script>
import img_1 from '../../assets/images/img_1.png'
import Team from '../../components/TimRb/Team'
import Footer from '../../components/Beranda/Footer'
import { themes } from '../../assets/app/app'
export default {
    layout: 'Beranda',
    components: {
        Team,
        Footer
    },
    data(){
        return{
            peraturan_nasional: [],
            // image: require('../../assets/images/about-us/04.png'),
            image: require('../../assets/images/img_perubahan_2.png'),
            links: [{
                title : 'Home' ,
                href : 'landing-page-1'
            }]
        }
    },
    mounted () {
        // const layout = themes.getCookie('layout')
        // this.$nuxt.setLayout(layout)
        setTimeout(function () {
        themes.index()
        }, 1000)
    },
    created() {
        this.getPeraturanNasional()
    },
    methods: {
        async getPeraturanNasional() {
            await this.$axios.$get('http://103.123.230.115:1092/frontend/download')
            .then(res => {
                for (let i = 0; i < res.data.length; i++) {
                    const element = res.data[i];
                    if (element.id_kategori == 25) {
                        this.peraturan_nasional.push(element)
                    }
                }
                // console.log(res.data);
                // console.log(this.peraturan_nasional);
            })
            .catch(err => {
                console.log(err);
            })
        }
    }
}
</script>
