<template>
    <div>
        <BreadCrumb crumb-title="Berita" :crumb-media="image" :crumb-links="links" />
        <div class="main-content">
            <Isotope grid-class="iq-masonry iq-columns-2" />
        </div>
        <Footer />
    </div>
</template>
<script>
import Isotope from '../../components/Berita/Isotope'
import Footer from '../../components/Beranda/Footer'
import { themes } from '../../assets/app/app'
export default {
    layout: 'Beranda',
    components: {
        Isotope,
        Footer
    },
    data(){
        return{
            // image: require('../../assets/images/about-us/04.png'),
            image: require('../../assets/images/img_berita.png'),
            links: [{
                title : 'Home' ,
                href : 'landing-page-1'
            }],
            berita: {}
        }
    },
    mounted () {
        setTimeout(function () {
        themes.index()
        }, 1000)
    },
    computed: {
        getBerita() {
            return this.$store.state.berita
        }
    },
    created(){
        // this.getBerita()
        // this.berita = this.$store.state.berita
        this.$store.dispatch('getBerita')
    },
    methods: {
        // async getBerita() {
        
        // }
    }
}
</script>
