<template>
  <section>
    <div class="container">
      <div class="row wow fadeInUp">
        <div class="col-sm-12">
          <div class="iq-masonry-block">
            <!-- <div class="isotope-filters isotope-tooltip"><button data-filter="" class="active">All<span class="post_no">8</span></button><button data-filter=".design">Design<span class="post_no">3</span></button><button data-filter=".html">HTML<span class="post_no">2</span></button><button data-filter=".photography">Photography<span class="post_no">3</span></button><button data-filter=".video">Video<span class="post_no">1</span></button></div> -->
            <div :class="gridClass">
              <!-- <CardStyle11 v-for="(item, index) in ItemList" :card-class="item.styleClass" :card-title="item.title" :card-subtitle="item.subTitle" :card-media ="item.image" :key="index"/> -->
              <CardStyle11 v-for="(item, index) in video_rb" :card-date="item.created" :card-class="item.styleClass" :card-title="item.judul" :card-media ="item.url" :key="index"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name:'Isotope',
  props:['gridClass'],
  data(){
    return{
      video_rb: [],
      ItemList:[
        {
          styleClass:'iq-masonry-item video',
          title:'Business Growth',
          subTitle:'Video',
          image: require('../../assets/images/about-us/08.png')
        },
        {
          styleClass:'iq-masonry-item html',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/02.png')
        },
        {
          styleClass:'iq-masonry-item html',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/03.png')
        },
        {
          styleClass:'iq-masonry-item design',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/08.png')
        },
        {
          styleClass:'iq-masonry-item photography',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/01.png')
        },
        {
          styleClass:'iq-masonry-item photography',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/08.png')
        },
        {
          styleClass:'iq-masonry-item design photography',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/03.png')
        },
        {
          styleClass:'iq-masonry-item design',
          title:'Business Growth',
          subTitle:'HTML',
          image: require('../../assets/images/about-us/02.png')
        },
      ]
    }
  },
  mounted() {
    this.getVideoRB()
  },
  methods: {
    async getVideoRB() {
      await this.$axios.$get('http://103.123.230.115:1092/frontend/video')
      .then(res => {
        for (let i = 0; i < res.data.length; i++) {
          const element = res.data[i];
          if (element.web == "WEB_RB" && element.kategori == 1) {
            this.video_rb.push({
              styleClass:'iq-masonry-item',
              created: element.created,
              created_by: element.created_by,
              id: element.id,
              judul: element.judul,
              kategori: element.kategori,
              updatedOn: element.updatedOn,
              url: element.url,
              web: element.web
            })
          }
        }
        console.log(this.video_rb); 
      })
      .catch(err => {
        console.log(err);
      })
    }
  }
}
</script>