<template>
    <div>
        <!-- <h3>Hello World</h3> -->
        <BreadCrumb crumb-title="Tim RB" :crumb-media="image" :crumb-links="links" />
        <!-- <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Tim RB LAN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Struktur Tim RB LAN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul> -->
        <section>
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-sm-12">
                        <div>
                            <b-tabs tabs align="center" content-class="mt-3">
                                <b-tab title="Tim RB LAN" active>
                                    <div class="card-columns pt-3">
                                        <div class="card" v-for="(item, index) in tim_rb" :key="index">
                                            <img src="@/assets/images/about-us/04.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h6 class="card-title text-center m-0">{{ item.name }}</h6>
                                            <p class="card-text text-sm text-center leading-snug m-0">{{ item.position }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </b-tab>
                                <b-tab title="Struktur Tim RB LAN">
                                    <img src="@/assets/images/struktur_tim_rb.png" alt="" width="4000px">
                                </b-tab>
                                <!-- <b-tab title="Disabled" disabled><p>I'm a disabled tab!</p></b-tab> -->
                            </b-tabs>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <Footer />
    </div>
</template>
<script>
import Team from '../../components/TimRb/Team'
import Footer from '../../components/Beranda/Footer'
import { themes } from '../../assets/app/app'
export default {
    layout: 'Beranda',
    components: {
        Team,
        Footer
    },
    data(){
        return{
            // image: require('../../assets/images/about-us/04.png'),
            image: require('../../assets/images/img_team.png'),
            links: [{
                title : 'Home' ,
                href : 'landing-page-1'
            }],
            tim_rb: [
                { name: "Dr. Muhammad Taufiq, DEA.", position: "Ketua Tim RB" },
                { name: "M. Yusuf Gunawan Idris, S.IP.,ME", position: "Koordinator Area Mental" },
                { name: "Erna Irawati, S.Sos., M.Pol.Adm", position: "Koordinator Area Penataan" },
                { name: "Dr. Hary Supriadi., SH, MA.", position: "Koordinator Area Penguatan Akuntabilitas" },
                { name: "Erfi Muthmainah, SS., MA.", position: "Koordinator Area Pelayanan Publik" },
                { name: "Dra. Army Winarti, M.Si.", position: "Koordinator Area Penataan Tata Laksana" },
                { name: "Dr. Basseng, M.Ed.", position: "Koordinator Area Penataan dan Penguatan Kelembagaan" },
                { name: "Tri Atmojo Sejati, ST., SH., M.Si.", position: "Koordinator Area Penataan Peraturan Perundang-undangan" },
                { name: "Dr. Tri Widodo Wahyu Utomo, SH., MA.", position: "Koordinator Area Quality" },
                { name: "Dra. Reni Suzana, MPPM.", position: "Ketua Tim RB Kompartemen Sekretariat" },
                { name: "Dr. Tri Widodo Wahyu Utomo, SH., MA.", position: "Ketua Tim RB Kompartemen Kedeputian" },
                { name: "Dr. Agus Sudrajat, S.Sos., M.A.", position: "Ketua Tim RB Kompartemen Kedeputian KIM ASN" },
                { name: "Dr. Muhammad Taufiq, DEA.", position: "Ketua Tim RB Kompartemen Kedeputian Kebijakan Bangkom ASN" },
                { name: "Dr. Basseng, M.Ed.", position: "Ketua Tim RB Kompartemen Kedeputian Penyelenggaraan Bangkom" },
                { name: "Hari Nugraha, SE., MPM.", position: "Ketua Tim RB Kompartemen Puslatbang PKASN" },
                { name: "Dr. Andi Taufik, M.Si.", position: "Ketua Tim RB Kompartemen Puslatbang KMP" },
                { name: "Dr. Mariman Darto, SE.,M.Si.", position: "Ketua Tim RB Kompartemen Puslatbang KDOD" },
                { name: "Ir. Faizal Adriansyah, M.Si", position: "Ketua Tim RB Kompartemen Puslatbang KHAN" },
                { name: "Prof. Dr. Nurliah Nurdin, S.Sos., M.A.", position: "Ketua Tim RB Kompartemen POLITEKNIK STIA LAN Jakarta" },
                { name: "Dr. Joni Dawud, DEA.", position: "Ketua Tim RB Kompartemen POLITEKNIK STIA LAN Bandung" },
                { name: "Prof. Amir Imbaruddin, MDA.Ph.D", position: "Ketua Tim RB Kompartemen POLITEKNIK STIA Makassar" },
            ]
        }
    },
    mounted () {
        // const layout = themes.getCookie('layout')
        // this.$nuxt.setLayout(layout)
        setTimeout(function () {
        themes.index()
        }, 1000)
    }
}
</script>
<style scoped>
.iq-ptb-100, section {
    padding: 80px 0 !important;
}
</style>
