<template>
    <div>
        <!-- <h3>Hello World</h3> -->
        <BreadCrumb crumb-title="Kontak Kami" :crumb-media="image" :crumb-links="links" />
        <Address />
        <ContactForm />
        <Footer />
    </div>
</template>
<script>
import Address from '../../components/KontakKami/Address'
import ContactForm from '../../components/KontakKami/ContactForm'
import Footer from '../../components/Beranda/Footer'
import { themes } from '../../assets/app/app'
export default {
    layout: 'Beranda',
    components: {
        Address,
        ContactForm,
        Footer
    },
    data(){
        return{
            // image: require('../../assets/images/about-us/04.png'),
            image: require('../../assets/images/img_kontak.png'),
            links: [{
                title : 'Home' ,
                href : 'landing-page-1'
            }]
        }
    },
    mounted () {
        // const layout = themes.getCookie('layout')
        // this.$nuxt.setLayout(layout)
        setTimeout(function () {
        themes.index()
        }, 1000)
    }
}
</script>
