<template>
    <div>
        <!-- <h3>Hello World</h3> -->
        <BreadCrumb crumb-title="Penghargaan" :crumb-media="image" :crumb-links="links" />
        <div class="main-content">
            <Isotope grid-class="iq-masonry iq-columns-2" />
        </div>
        <Footer />
    </div>
</template>
<script>
import Isotope from '../../components/Penghargaan/Isotope'
import Footer from '../../components/Beranda/Footer'
import { themes } from '../../assets/app/app'
export default {
    layout: 'Beranda',
    components: {
        Isotope,
        Footer
    },
    data(){
        return{
            // image: require('../../assets/images/about-us/04.png'),
            image: require('../../assets/images/img_penghargaan.png'),
            links: [{
                title : 'Home' ,
                href : 'landing-page-1'
            }]
        }
    },
    mounted () {
        // const layout = themes.getCookie('layout')
        // this.$nuxt.setLayout(layout)
        setTimeout(function () {
        themes.index()
        }, 1000)
    }
}
</script>
