<template>
  <section>
    <div class="container">
      <div class="row">
        <!-- <div v-for="(list,index) in lists" :key="index" class="col-sm-4">
          <div class="consult-services wow fadeInUp contact-detail text-center mb-4">
            <div class="circle-effect"> <i aria-hidden="true" :class="list.class"></i> </div>
            <h4 class="mb-2">{{ list.title }}</h4>
            <p class="mb-0">{{ list.subtitle }}</p>
          </div>
        </div> -->
        <div class="col-md-12 wow fadeInUp">
          <div class="card-columns">
            <div class="card text-center" v-for="(item, index) in lists" :key="index">
              <div class="card-body">
                <img :src="image" alt="" width="70" class="mt-2" style="display:block;margin-left:auto;margin-right:auto;">
                <p class="card-text leading-snug mt-3 mb-0"><small class="text-muted">{{ item.akronim }}</small></p>
                <h5 class="card-title mt-0 mb-2" style="font-weight: 100 !important">{{ item.title }}</h5>
                <!-- <p class="card-text leading-snug">{{ item.subtitle }}</p> -->
                <p class="card-text leading-snug"><small class="text-muted">{{ item.subtitle }}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'Address',
  data() {
    return {
      image: require('../../assets/images/location.png'),
      lists :[
          {
            class: 'fa fa-map-marker-alt',
            title: 'Lembaga Administrasi Negara Republik Indonesia',
            akronim: "LAN RI",
            subtitle: 'Jl. Veteran No.10 Jakarta Pusat DKI Jakarta 10110'
          },
          {
            class: 'fa fa-map-marker-alt',
            title: 'Pusat Pelatihan dan Pengembangan dan Pengembangan Kompetensi Aparatur Sipil Negara',
            akronim: "Puslatbang PKASN",
            subtitle: ' Jl. Kiara Payung km. 4,7 Bumi Perkemahan Jatinangor Sumedang, Jawa Barat'
          },
          {
            class: 'fa fa-map-marker-alt',
            title: 'Pusat Pelatihan dan Pengembangan dan Kajian Manajemen Pemerintahan',
            akronim: "Puslatbang KMP",
            subtitle: 'Jl. Raya Baruga No.48, Antang, Kec. Manggala, Kota Makassar, Sulawesi Selatan 90234'
          },
          {
            class: 'fa fa-map-marker-alt',
            title: 'Pusat Pelatihan dan Pengembangan dan Kajian Desentralisasi dan Otonomi Daerah',
            akronim: "Puslatbang KDOD",
            subtitle: 'Jl. H. Muhammad Ardans Sempaja Selatan Samarinda Utara, Air Hitam, Samarinda, Kota Samarinda, Kalimantan Timur 75131'
          },
          {
            class: 'fa fa-map-marker-alt',
            title: 'Pusat Pelatihan dan Pengembangan dan Kajian Hukum Administrasi Negara',
            akronim: "Puslatbang KHAN",
            subtitle: 'Jl. DR. Mr. Teuku Haji Muhammad Hasan Kecamatan Darul Imarah Aceh Besar'
          },
          {
            class: 'fa fa-map-marker-alt',
            title: 'Politeknik Sekolah Tinggi Ilmu Administrasi LAN Jakarta',
            akronim: "Politeknik STIA LAN Jakarta",
            subtitle: 'Jl. Administrasi II No.9, RT.9/RW.9, Petamburan, Tanahabang, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10260'
          },
          {
            class: 'fa fa-map-marker-alt',
            title: 'Politeknik Sekolah Tinggi Ilmu Administrasi LAN Bandung',
            akronim: "Politeknik STIA LAN Bandung",
            subtitle: 'Jl. Hayam Wuruk No.34-38, Citarum, Kec. Bandung Wetan, Kota Bandung, Jawa Barat 40115'
          },
          {
            class: 'fa fa-map-marker-alt',
            title: 'Politeknik Sekolah Tinggi Ilmu Administrasi LAN Makassar',
            akronim: "Politeknik STIA LAN Makassar",
            subtitle: 'Jl. A. P. Pettarani No.61, Bua Kana, Kec. Rappocini, Kota Makassar, Sulawesi Selatan 90231'
          }
        ]
    }
  }
}
</script>
