<template>
  <!-- <div class="text-left iq-breadcrumb-one iq-bg-over "> -->
  <!-- <div class="text-left iq-breadcrumb-one hero-image "> -->
  <div class="text-left iq-breadcrumb-one" :style="{backgroundImage:`url(${image})`,backgroundSize:'cover',backgroundRepeat:'no-repeat',backgroundPosition:'center'}">
    <div class="container black">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8 text-left align-self-center">
          <nav aria-label="breadcrumb" class="text-left mt-5 mb-3">
              <h2 class="title">{{ crumbTitle }}</h2>
              <ol class="breadcrumb main-bg">
                <li class="breadcrumb-item" v-for="(item, index) in crumbLinks" :key="index" ><a :href="item.href">{{ item.title }}</a></li>
                <li class="breadcrumb-item active">{{ crumbTitle }}</li>
              </ol>
          </nav>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 text-right wow fadeInRight"> 
            <img alt="banner" class="img-fluid float-right" :src="crumbMedia" width="120"> 
          </div>
      </div>
    </div>
  </div>   
</template>
<script>
import image from '@/assets/images/rb_lan_4.jpg'
export default {
  name:'BreadCrumb',
  props:['crumbTitle','crumbMedia','crumbLinks'],
  data() {
    return {
      image
    }
  }

}
</script>
<style scoped>
.hero-image {
  background-image: url("https://tailwindcss.com/img/card-top.jpg");
  background-color: #cccccc;
  /* height: 500px; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* position: relative; */
}
</style>