<template>
  <div>
    <Loader />
    <HeaderStyle1 :logo-img="logo" :nav-item-list="navItems" class-name="style-one" :styled-logo="styleLogo" />
    <nuxt />
    <ScrollTop />
  </div>
</template>
<script>
import { menu, services, pages, landing1About, ourCases, blog, profil, rb_lan, akademi_perubahan, galeri } from '../config/constant.js'
// import logoImg from '../assets/images/logo_rb_lan.png'
import logoImg from '../assets/images/logo_lan.png'
export default {
  name: 'Beranda',
  data () {
    return {
      styleLogo: false,
      logo: logoImg,
      navItems: [
        // { href: '/landing-page-1',
        //   title: 'Home',
        //   children: true,
        //   child: menu
        // },
        { href: '/tim_rb', title: 'Profil', active: true, children: true, child: profil },
        { href: '/road_map', title: 'Reformasi Birokrasi LAN', children: true, child: rb_lan },
        { href: '/laporan_pelaksanaan', title: 'Akademi Perubahan', children: true, child: akademi_perubahan },
        // { href: '/blog', title: 'Blog', children: true, child: blog },
        // { href: '/our-team', title: 'Pages', children: true, child: pages },
        { href: '/galeri', title: 'Galeri', children: true, child: galeri }
        // { href: '/berita', title: 'Berita', children: false }
      ]
    }
  },
  mounted () {
  }
}
</script>
<style lang="css">
  @import url('../assets/css/style.css');
  @import url('../assets/css/responsive.css');
</style>
