<template>
  <!-- <FooterMain class="footer-one iq-bg-dark iq-over-dark-90"> -->
  <!-- <FooterMain class="footer-one iq-bg-dark" :style="{backgroundImage:`url(${image})`,backgroundSize:'cover',backgroundRepeat:'no-repeat',backgroundPosition:'center'}"> -->
  <FooterMain class="footer-one iq-bg-dark bg-gray-200">
    <div slot="footerContent" class="footer-top">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <FooterLogo
            :section-image="navLogo"
            section-text="It is a long established fact that a reader will be distracted by the readable content."
          />
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0">
          <!-- <FooterLinks :content="footerHome" title="Menu"/> -->
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0">
          <!-- <FooterLinks :content="footerHome" title="Profil"/> -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-0 mt-4">
          <FooterAddress :address-content="footerText" address-title="Kontak Kami" class="iq-contact" />
        </div>
      </div>    
    </div>
  </FooterMain>
</template>
<script>
import FooterMain from '../themes/Partials/Footer/FooterMain'
import FooterLogo from '../themes/Partials/FooterComponents/FooterLogo'
import FooterAddress from '../themes/Partials/FooterComponents/FooterAddress'
import FooterLinks from '../themes/Partials/FooterComponents/FooterLinks'
import logoImg from '../../assets/images/logo_rb_lan.png'
import image from '@/assets/images/rb_lan_7.jpg'
export default {
  name: 'Footer',
  components: { FooterLogo, FooterLinks, FooterAddress, FooterMain },
  data () {
    return {
      image,
      navLogo: logoImg,
      footerText: [
        {
          icon: true,
          iconClass: 'fas fa-phone-alt',
          text: '021 386 8201-05'
        },
        {
          icon: true,
          iconClass: 'fas fa-envelope',
          text: 'humans@lan.go.id'
        },
        {
          icon: true,
          iconClass: 'fas fa-home',
          text: 'Jl. Veteran No.10 Jakarta Pusat, DKI Jakarta 10110. Indonesia'
        }
      ],
      footerHome: [
        {
          href: 'javascript:void(0)',
          title: 'Home'
        },
        {
          href: 'javascript:void(0)',
          title: 'Blog'
        },
        {
          href: 'javascript:void(0)',
          title: 'Careers'
        },
        {
          href: 'javascript:void(0)',
          title: 'Clients'
        },
        {
          href: 'javascript:void(0)',
          title: 'Service'
        } 
      ]
    }
  }
}
</script>

<style scoped></style>
