<template>
  <section class="pt-0 mt-0">
    <div class="container">
      <div class="row xamin-bg">
        <div class="col-sm-12">
          <!-- <div class="title-box wow fadeInUp text-left">
            <span class="title-design">TIM</span>
            <h2>Reformasi Birokrasi LAN</h2>
          </div> -->
        </div>
        <div class="col-md-12 wow fadeInUp">
          <CardStyle13 :card-content="area_perubahan" :card-items="4" card-class="owl-carousel owl-loaded owl-drag" />
        </div>
      </div>
      <!-- <Client /> -->
    </div>
  </section>
</template>
<script>
// import Client from '../../components/AboutUs-1/Client'
export default {
    name:'Team',
    components: {
      // Client
    },
    data(){
      return{
        list:[
          {
            title: 'Anna Mull',
            subtitle: 'COO',
            media: require('../../assets/images/team/1.jpg')
          },
          {
            title: 'Petey Cruiser',
            subtitle: 'Project Manager',
            media: require('../../assets/images/team/2.jpg')
          },
          {
            title: 'Greta Life',
            subtitle: 'CFO',
            media: require('../../assets/images/team/3.jpg')
          },
          {
            title: 'Marcash Dane',
            subtitle: 'Project Manager',
            media: require('../../assets/images/team/4.jpg')
          },
          {
            title: 'Handry White',
            subtitle: 'Project Manager',
            media: require('../../assets/images/team/5.jpg')
          }
        ],
        area_perubahan: [
                {
                    title: 'Area Mental Aparatur',
                    description: 'Pada area Mental Aparatur atau Manajemen Perubahan, diarahkan untuk memperkuat pelaksanaan RB di lingkungan LAN khususnya pada level kompartemen serta internalisasi dan implementasi nilai-nilai integritas, profesional, inovatif dan peduli bagi seluruh pegawai sehingga dapat membangun pola pikir dan budaya kerja yang semakin produktif di lingkungan LAN.',
                    image: require('@/assets/images/logo_area_perubahan/1.png'),
                    sizeImg: 68,
                    bgcolor: 'bg-gray',
                },
                {
                    title: 'Area Tata Laksana',
                    description: 'Pada area Tata Laksana diarahkan untuk mewujudkan birokrasi yang lincah (agile) dan memperkuat penggunaan teknologi informasi.',
                    image: require('@/assets/images/logo_area_perubahan/2.png'),
                    sizeImg: 68,
                    bgcolor: 'border',
                },
                {
                    title: 'Area Penguatan Organisasi',
                    description: 'Pada area Penguatan Organisasi, diarahkan pada penyiapan dan penguatan transformasi organisasi LAN sesuai dengan mandat kebijakan dan tantangan lingkungan strategis sehingga mampu mengakselerasi ketercapaian visi dan misi LAN.',
                    image: require('@/assets/images/logo_area_perubahan/3.png'),
                    sizeImg: 70,
                    bgcolor: 'bg-gray',
                },
                {
                    title: 'Area Penataan Peraturan Perundang-undangan',
                    description: 'Pada area Penataan Peraturan Perundang-undangan, diarahkan untuk mewujudkan tata kelola penyusunan peraturan perundang-undangan yang lebih baik dan cerdas (better and smarter regulatory management) serta penguatan pegawai yang sadar hukum di lingkungan LAN',
                    image: require('@/assets/images/logo_area_perubahan/4.png'),
                    sizeImg: 120,
                    bgcolor: 'border',
                },
                {
                    title: 'Area Penataan Sumber Daya Manusia',
                    description: 'Pada area Penataan Sumber Daya Manusia, diarahkan pada penguatan manajemen sumber daya manusia terintegrasi dan pengelolaan SDM berbasis merit di lingkungan LAN',
                    image: require('@/assets/images/logo_area_perubahan/5.png'),
                    sizeImg: 78,
                    bgcolor: 'bg-gray',
                },
                {
                    title: 'Area Penguatan Pengawasan',
                    description: 'Pada area Penguatan Pengawasan, diarahkan pada pemantapan sistem pengendalian internal (SPI) dan penguatan birokrasi yang transparan, berintegritas dan bebas dari korupsi melalui penerapan zona integritas di lingkungan LAN.',
                    image: require('@/assets/images/logo_area_perubahan/6.png'),
                    sizeImg: 67,
                    bgcolor: 'border',
                },
                {
                    title: 'Area Penguatan Akuntabilitas',
                    description: 'Pada area Penguatan Akuntabilitas, diarahkan pada penyempurnaan sistem manajemen kinerja serta peningkatan akuntabilitas vertikal dan horizontal di lingkungan LAN.',
                    image: require('@/assets/images/logo_area_perubahan/7.png'),
                    sizeImg: 67,
                    bgcolor: 'bg-gray',
                },
                {
                    title: 'Area Peningkatan Kualitas Pelayanan Publik',
                    description: 'Pada area Peningkatan Kualitas Pelayanan Publik, diarahkan pada penyelenggaraan layanan yang prima untuk memberikan nilai tambah bagi stakeholders LAN.',
                    image: require('@/assets/images/logo_area_perubahan/8.png'),
                    sizeImg: 90,
                    bgcolor: 'border',
                }
            ]
      }
    }
}
</script>