<template>
  <section class="pt-0">
    <div class="container">
      <div class="row xamin-bg">
        <div class="col-sm-12">
          <div class="title-box wow fadeInUp text-left">
            <span class="title-design">TIM</span>
            <h2>Reformasi Birokrasi LAN</h2>
          </div>
        </div>
        <div class="col-md-12 wow fadeInUp">
          <CardStyle2 :card-content="tim_rb" :card-items="4" card-class="owl-carousel owl-loaded owl-drag" />
        </div>
      </div>
      <!-- <Client /> -->
    </div>
  </section>
</template>
<script>
// import Client from '../../components/AboutUs-1/Client'
export default {
    name:'Team',
    components: {
      // Client
    },
    data(){
      return{
        list:[
          {
            title: 'Anna Mull',
            subtitle: 'COO',
            media: require('../../assets/images/team/1.jpg')
          },
          {
            title: 'Petey Cruiser',
            subtitle: 'Project Manager',
            media: require('../../assets/images/team/2.jpg')
          },
          {
            title: 'Greta Life',
            subtitle: 'CFO',
            media: require('../../assets/images/team/3.jpg')
          },
          {
            title: 'Marcash Dane',
            subtitle: 'Project Manager',
            media: require('../../assets/images/team/4.jpg')
          },
          {
            title: 'Handry White',
            subtitle: 'Project Manager',
            media: require('../../assets/images/team/5.jpg')
          }
        ],
        tim_rb: [
                { title: "Dr. Muhammad Taufiq, DEA.", subtitle: "Ketua Tim RB", media: require('../../assets/images/team/1.jpg') },
                { title: "M. Yusuf Gunawan Idris, S.IP.,ME", subtitle: "Koordinator Area Mental", media: require('../../assets/images/team/2.jpg') },
                { title: "Erna Irawati, S.Sos., M.Pol.Adm", subtitle: "Koordinator Area Penataan", media: require('../../assets/images/team/3.jpg') },
                { title: "Dr. Hary Supriadi., SH, MA.", subtitle: "Koordinator Area Penguatan Akuntabilitas", media: require('../../assets/images/team/4.jpg') },
                { title: "Erfi Muthmainah, SS., MA.", subtitle: "Koordinator Area Pelayanan Publik", media: require('../../assets/images/team/5.jpg') },
                { title: "Dra. Army Winarti, M.Si.", subtitle: "Koordinator Area Penataan Tata Laksana", media: require('../../assets/images/team/1.jpg') },
                { title: "Dr. Basseng, M.Ed.", subtitle: "Koordinator Area Penataan dan Penguatan Kelembagaan", media: require('../../assets/images/team/2.jpg') },
                { title: "Tri Atmojo Sejati, ST., SH., M.Si.", subtitle: "Koordinator Area Penataan Peraturan Perundang-undangan", media: require('../../assets/images/team/3.jpg') },
                { title: "Dr. Tri Widodo Wahyu Utomo, SH., MA.", subtitle: "Koordinator Area Quality", media: require('../../assets/images/team/4.jpg') },
                { title: "Dra. Reni Suzana, MPPM.", subtitle: "Ketua Tim RB Kompartemen Sekretariat", media: require('../../assets/images/team/5.jpg') },
                { title: "Dr. Tri Widodo Wahyu Utomo, SH., MA.", subtitle: "Ketua Tim RB Kompartemen Kedeputian", media: require('../../assets/images/team/1.jpg') },
                { title: "Dr. Agus Sudrajat, S.Sos., M.A.", subtitle: "Ketua Tim RB Kompartemen Kedeputian KIM ASN", media: require('../../assets/images/team/2.jpg') },
                { title: "Dr. Muhammad Taufiq, DEA.", subtitle: "Ketua Tim RB Kompartemen Kedeputian Kebijakan Bangkom ASN", media: require('../../assets/images/team/3.jpg') },
                { title: "Dr. Basseng, M.Ed.", subtitle: "Ketua Tim RB Kompartemen Kedeputian Penyelenggaraan Bangkom", media: require('../../assets/images/team/4.jpg') },
                { title: "Hari Nugraha, SE., MPM.", subtitle: "Ketua Tim RB Kompartemen Puslatbang PKASN", media: require('../../assets/images/team/5.jpg') },
                { title: "Dr. Andi Taufik, M.Si.", subtitle: "Ketua Tim RB Kompartemen Puslatbang KMP", media: require('../../assets/images/team/1.jpg') },
                { title: "Dr. Mariman Darto, SE.,M.Si.", subtitle: "Ketua Tim RB Kompartemen Puslatbang KDOD", media: require('../../assets/images/team/2.jpg') },
                { title: "Ir. Faizal Adriansyah, M.Si", subtitle: "Ketua Tim RB Kompartemen Puslatbang KHAN", media: require('../../assets/images/team/3.jpg') },
                { title: "Prof. Dr. Nurliah Nurdin, S.Sos., M.A.", subtitle: "Ketua Tim RB Kompartemen POLITEKNIK STIA LAN Jakarta", media: require('../../assets/images/team/4.jpg') },
                { title: "Dr. Joni Dawud, DEA.", subtitle: "Ketua Tim RB Kompartemen POLITEKNIK STIA LAN Bandung", media: require('../../assets/images/team/5.jpg') },
                { title: "Prof. Amir Imbaruddin, MDA.Ph.D", subtitle: "Ketua Tim RB Kompartemen POLITEKNIK STIA Makassar", media: require('../../assets/images/team/1.jpg') },
        ]
      }
    }
}
</script>