<template>
  <div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 pr-3 m-0">
            <div class="title-box wow fadeInUp mb-0 text-center text-lg-left border-right ">
              <!-- <span class="title-design">Why Choose Us</span> -->
              <h2 class="m-0">Apa itu<br class="d-none d-lg-block">Reformasi Birokasi</h2>
            </div>
          </div>
          <div class="col-lg-8 align-self-center m-0">
              <p class="m-0">Reformasi birokrasi pada hakikatnya merupakan upaya untuk melakukan pembaharuan dan perubahan mendasar terhadap sistem penyelenggaraan pemerintahan terutama menyangkut aspek-aspek kelembagaan (organisasi), ketatalaksanaan (business prosess) dan sumber daya manusia aparatur.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- <Quality /> -->
  </div>
</template>
<script>
// import Quality from '../../components/LandingPage3/Quality'
export default {
    name: 'WhyChooseUs',
    components:{
      // Quality
    }
}
</script>
<style scoped>
section {
    padding-top: 110px  !important;
    padding-bottom: 60px  !important;
}
</style>
