<template>
  <div :class="CardClass">
    <div class="iq-portfolio">
      <a href="#" class="iq-portfolio-img video-container">
        <!-- <img width="1260" height="954" :src="CardMedia" class="img-fluid" alt="" > -->
        <iframe class="img-fluid center-block" alt="blogimage" width="1260" height="954" :src="'https://www.youtube.com/embed/'+CardMedia" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
      </a>
      <div class="iq-portfolio-content  text-center">
        <div class="details-box clearfix">
          <div class="consult-details">
            <!-- <a href="#">
              <h5 class="text-hover"> {{ CardTitle }} </h5>
            </a>
            <p class="mb-0">{{ CardSubtitle }}</p> -->
            <p class="font-hairline text-sm leading-snug m-0">{{ CardDate | moment }}</p>
            <p class="leading-snug m-0">{{ CardTitle }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
export default {
  name:'CardStyle7',
  // props:['CardTitle','CardSubtitle','CardMedia','CardClass']
  props:['CardTitle','CardMedia','CardClass','CardDate'],
  filters: {
    moment: function(value){
      moment.locale('id'); 
      return moment(value).format('dddd')+', '+moment(value).format('LL');
    },
  },
}
</script>
<style scoped>
.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
</style>
