<template>
  <div :class="CardClass">
  <!-- <div class="iq-masonry-item"> -->
    <div class="iq-portfolio">
      <a href="#" class="iq-portfolio-img">
        <img width="1260" height="954" :src="'data:image/jpeg;base64,'+CardMedia" class="img-fluid" alt="" >
      </a>
      <div class="iq-portfolio-content text-left">
        <div class="details-box clearfix">
          <div class="consult-details">
            <!-- <a href="#">
              <h5 class="text-hover"> {{ CardTitle }} </h5>
            </a> -->
            {{  }}
            <p class="font-hairline text-sm leading-snug m-0">{{ CardDate | moment }}</p>
            <p class="font-semibold m-0">{{ CardTitle }}</p>
            <p class="font-hairline text-sm leading-snug m-0">{{ CardSubtitle }}</p>
            <b-button class="mt-3" size="sm" variant="outline-primary">Baca</b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
export default {
    name:'CardStyle7',
    props:['CardTitle','CardSubtitle','CardMedia','CardClass','CardDate'],
    filters: {
      moment: function(value){
        moment.locale('id'); 
        return moment(value).format('dddd')+', '+moment(value).format('LL');
      },
    },
}
</script>