<template>
  <div :class="cardClass" data-dots="false" data-nav="false" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-autoplay="true" data-loop="true" data-margin="30">
    <div class="item text-left" v-for="(item, index) in cardContent" :key="index" >
        <!-- <div class="iq-team">
          <div class="iq-team-info text-center">
              <a>
                <h5>{{ item.title }}</h5>
              </a>
              <span>{{ item.subtitle }}</span>
          </div>
        </div> -->
      <div>
        <b-card no-body>
          <div>
            <div class="flex justify-between items-center">
              <div class="text-center my-2 ml-4 mr-2">
                <img :src="item.image" alt="" :style="{ width: item.sizeImg+'px !important' }">
              </div>
              <div class="flex-grow text-center px-1 py-2 mr-2 my-2">
                <p class="leading-snug m-0">{{ item.title }}</p>
              </div>
              <!-- <div class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">3</div> -->
            </div>
          </div>
        </b-card>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name:'CardStyle13',
  props:['cardContent','cardClass']
}
</script>
<style scoped>
/* .owl-carousel .owl-item img {
  width: 80px !important;
  height: 80px !important;
} */
</style>
