<template>
  <section style="padding-top:6.5rem;">
    <div class="container">
      <!-- <div class="row ">
        <div class="col-md-12">
          <div class="title-box wow fadeInUp text-center">
            <span class="title-design">PROCESS</span>
            <h2>Experience</h2>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="main-timeline-section ">
            <div class="conference-center-line"></div>
            <div class="conference-timeline-content">
              <div v-for="(item,index) in lists" :key="index" :class="item.align">
                <div class="meta-date"></div>
                <div class="content-box">
                  <div class="iqtml-top-box">
                    <div class="data1">
                      <h4 class="title">{{ item.title }}</h4>
                      <h6 class="primary-color">{{ item.subtitle }}</h6>
                    </div>
                    <div class="data2">
                      <span><i class="fas fa-calendar-alt"></i>{{ item.year }}</span>
                      <!-- <span><i class="fas fa-map-marker-alt"></i>{{ item.address }}</span> -->
                    </div>
                  </div>
                  <p class="text-sm leading-snug m-0">{{ item.description }}</p>
                  <!-- <ul v-for="(subitem ,sindex) in item.contact" :key="sindex" class="iq-contant">
                    <li>{{ subitem.list }}</li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'Process',
  data () {
    return {
      lists: [
        {
          align: 'timeline-article content-right-container',
          title:'RB 1.0',
          subtitle:'Inisiasi',
          year: '2010-2013',
          description: "Reformasi birokrasi secara nasional mulai bergerak serentak sejak ditetapkannya Peraturan Presiden Nomor 81 Tahun 2010 tentang Grand Design Reformasi Birokrasi Nasional 2010-2025 dan Peraturan Menteri Pendayagunaan Aparatur Negara dan Reformasi Birokrasi Nomor 20 Tahun 2010 tentang Road Map Reformasi Birokrasi 2010-2014. LAN mulai menyusun berbagai instrumentasi RB sesuai mandat nasional. Fase awal RB di LAN berlangsung tahun 2010-2013 merupakan fase inisiasi RB, yang kemudian disebut sebagai RB 1.0.",
          address: 'Paris, france',
          contact: [
            {
              list: 'Learn a group of 5 people'
            },
            {
              list: 'Passages of Lorem Ipsum available.'
            },
            {
              list: 'Easy to Customize List passages of available.'
            }
          ]
        },
        {
          align: 'timeline-article content-left-container',
          title:'RB 2.0',
          subtitle:'Transisi',
          year: '2013-2015',
          description: "Pada fase ini mulai diinisiasi proses seleksi terbuka bahkan sebelum UU ASN mengatur hal tersebut. Tidak tanggung-tanggung, proses seleksi terbuka ini dilakukan untuk mengisi posisi Kepala LAN. Pada tahun tersebut pula, LAN melakukan transformasi kelembagaan dengan perubahan Organisasi dan Tata Kerja (OTK) dengan terbitnya Peraturan Presiden (Perpres) Nomor 57 Tahun 2013 tentang LAN, yang mengubah postur LAN dari 6 (enam) unit eselon I (kini Jabatan Pimpinan Tinggi Madya) menjadi 4 (empat) unit eselon I. Di fase ke-2 (RB 2.0) ini pula LAN memulai budaya organisasi yang baru dengan introduksi nilai-nilai dasar Integritas, Profesional, Inovatif, dan Peduli (IPIP).",
          address: 'Paris, france',
          contact: [
            {
              list: 'Learn a group of 5 people'
            },
            {
              list: 'Passages of Lorem Ipsum available.'
            },
            {
              list: 'Easy to Customize List passages of available.'
            }
          ]
        },
        {
          align: 'timeline-article content-right-container',
          title:'RB 3.0',
          subtitle:'Konsolidasi',
          year: '2015-2018',
          description: "Proses bisnis dipetakan dan e-goverment di kembangkan, manajemen kinerja semakin kuat. Fase ini dimulai pada tahun 2015-2018 seiring dengan suksesi kepemimpinan di LAN yang mengantarkan pada era baru penerapan e-government dan manajemen kinerja di LAN.",
          address: 'Paris, france',
          contact: [
            {
              list: 'Learn a group of 5 people'
            },
            {
              list: 'Passages of Lorem Ipsum available.'
            },
            {
              list: 'Easy to Customize List passages of available.'
            }
          ]
        },
        {
          align: 'timeline-article content-left-container',
          title:'RB 4.0',
          subtitle:'Dinamisasi',
          year: '2018-2019',
          description: "Proses reformasi birokrasi dilaksanakan dengan lebih dinamis dan terinternalisasi. Strategi RB LAN diubah dari tersentral dengan Tim RB yang dipilih dari lintas kompartemen menjadi terdesentralisasi dan dilaksanakan oleh setiap kompartemen sesuai dengan kebutuhan masing-masing. Tim RB pada tingkat instansi hanya memberikan pedoman dan arah umum yang ingin diwujudkan pada tingkat instansi, sedangkan proses RB dapat berbeda-beda di setiap kompartemen.",
          address: 'Paris, france',
          contact: [
            {
              list: 'Learn a group of 5 people'
            },
            {
              list: 'Passages of Lorem Ipsum available.'
            },
            {
              list: 'Easy to Customize List passages of available.'
            }
          ]
        }
      ]
    }
  }
}
</script>