<template>
    <div>
        <!-- <h3>Hello World</h3> -->
        <BreadCrumb crumb-title="Visi dan Misi" :crumb-media="image" :crumb-links="links" />
        <Service />
        <Footer />
    </div>
</template>
<script>
import Service from '../../components/VisiMisi/Service'
import Footer from '../../components/Beranda/Footer'
import { themes } from '../../assets/app/app'
export default {
    layout: 'Beranda',
    components: {
        Service,
        Footer
    },
    data(){
        return{
            image: require('../../assets/images/about-us/04.png'),
            links: [{
                title : 'Home' ,
                href : 'landing-page-1'
            }]
        }
    },
    mounted () {
        // const layout = themes.getCookie('layout')
        // this.$nuxt.setLayout(layout)
        setTimeout(function () {
        themes.index()
        }, 1000)
    }
}
</script>
