<template>
    <div>
        <!-- <h3>Hello World</h3> -->
        <BreadCrumb crumb-title="Laporan Pelaksanaan RB" :crumb-media="image" :crumb-links="links" />
        <section>
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-sm-12">
                        <!-- <b-list-group>
                            <b-list-group-item>Cras justo odio</b-list-group-item>
                            <b-list-group-item>Dapibus ac facilisis in</b-list-group-item>
                            <b-list-group-item>Morbi leo risus</b-list-group-item>
                            <b-list-group-item>Porta ac consectetur ac</b-list-group-item>
                            <b-list-group-item>Vestibulum at eros</b-list-group-item>
                        </b-list-group> -->
                        <div class="card-columns">
  <div class="card" v-for="(item, index) in laporan" :key="index">
    <img :src="item.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title text-center hairline m-0">{{ item.judul }}</h6>
      <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
    </div>
  </div>
  <!-- <div class="card">
    <img src="@/assets/images/about-us/04.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> -->
  <!-- <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div> -->
  <!-- <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer text-white">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div> -->
  <!-- <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> -->
  <!-- <div class="card">
    <img src="@/assets/images/about-us/04.png" class="card-img-top" alt="...">
  </div> -->
  <!-- <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div> -->
  <!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> -->
</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <Team /> -->
        <Footer />
    </div>
</template>
<script>
import Team from '../../components/TimRb/Team'
import Footer from '../../components/Beranda/Footer'
import { themes } from '../../assets/app/app'
export default {
    layout: 'Beranda',
    components: {
        Team,
        Footer
    },
    data(){
        return{
            // image: require('../../assets/images/about-us/04.png'),
            image: require('../../assets/images/img_laporan_2.png'),
            links: [{
                title : 'Home' ,
                href : 'landing-page-1'
            }],
            laporan: [
              { 
                judul: "Laporan Pelaksanaan RB Lembaga 2019", 
                tahun: 2019, 
                jenis: "lembaga", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_lembaga_2019/cover_laporan_rb_lan_2019.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB Settama", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_settama.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB DKKIAN 2019", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_dkkian_2019.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB DKIMASN 2019", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_dkimasn.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB Deputi Pengembangan Bangkom ASN", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_deputi_pengembangan_bangkom_asn.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB Deputi Penyelenggaraan Bangkom", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_deputi_penyelenggaraan_bangkom.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB Puslatbang PKASN", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_puslatbang_pkasn.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB Puslatbang KMP", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_puslatbang_kmp.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB Puslatbang KDOD", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_puslatbang_kdod.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB Puslatbang KHAN", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_puslatbang_khan.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB STIA LAN Jakarta", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_stia_lan_jakarta.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB STIA LAN Bandung", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_stia_lan_bandung.png')
              },
              { 
                judul: "Laporan Pelaksanaan RB STIA LAN MAKASSAR", 
                tahun: 2019, 
                jenis: "kompartemen", 
                image: require('@/assets/files/laporan_pelaksanaan_rb_kompartemen_2019/cover_laporan_pelaksanaan_rb_stia_lan_makassar.png')
              }
            ]
        }
    },
    mounted () {
        // const layout = themes.getCookie('layout')
        // this.$nuxt.setLayout(layout)
        setTimeout(function () {
        themes.index()
        }, 1000)
    }
}
</script>
<style scoped>
.hairline {
  font-weight: 100 !important;
}
</style>
